<div class="auth-main">

  <div class="two-block">

    <div class="auth-block">
      <h2>Login to your account</h2>
      <!--<h1>Sign In</h1>-->
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value,$event)" class="form-horizontal">
        <div class="error-message">{{message}}</div>
        <div class="white_bg">
          <div class="form-group row" [ngClass]="{'has-error': (email.touched&&!email.valid), 'has-success': (email.valid &&email.touched)}">
            <div class="col-sm-12">
              <label>Username or Email</label>
              <div class="error-message" *ngIf="form.controls.email.touched && !form.controls.email.valid">Enter a valid email id !!
              </div>
              <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email address*" [(ngModel)]="user.email"
                autocomplete="off">
              <div [hidden]="email.valid || (email.untouched && !submitted) || !submitted" class="alert bp-p-default">
              </div>

            </div>
            <div class="col-sm-1"></div>
            <br>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
            <div class="col-sm-12">
              <label>Password</label>
              <span class="error-message" *ngIf="form.controls.password.touched && !form.controls.password.valid">Password is required !!</span>
              <input type="password" class="form-control" id="inputEmail3" placeholder="Password*" [(ngModel)]="user.password" [formControl]="password"
                autocomplete="off">

            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="form-group row"></div>
          <div class="form-group row">
            <div class="form-group row ">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="col-lg-12">
                    <label class="rem">
                      <input type="checkbox" formControlName="remember" [(ngModel)]="remember" class="check"> Remember me</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;"></div>
        </div>
        <div class="form-group row ca-button">
          <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
            <button [disabled]="!form.valid" id="signbutton" type="submit" class="btn  btn-primary btn-lg btn-block">Sign in</button>
          </div>
          <div class="col-lg-6 forgot">
            <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
